body{
    background-color: white;


}
section>form-group1{
    text-align: center;
    
}
section>form-group2{
    text-align: center;
}
section{
width: 500px;
    margin:  auto;
    background-color:aquamarine;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
