#style1{
    background-color: crimson;

}
#style2{
    background-color:aqua;
    display:block;
}
#style3{
    background-color: aquamarine;
    display:block;
}
#style4:hover{
    display:none;

    
}
#