a:link{
    color:pink
}
a:visited{
    color:yellowgreen
}
a:active{
    color:aquamarine
}
div{
    background-color: chocolate;
    color: black;
    padding: 250px;
    width: 600px;
}
div:hover{
    background-color: crimson;
    color:blue
}
h1{
    background-color:blue;
    color:crimson
}
p,div{
display: none;
background-color: brown;
color: white;
padding: 300px;
width: 200px;
}
h1:hover p{
    display: block;
}
input:focus{
    background-color: black;
    color:white
}