#div{
    display: block;

}

#btn1:hover::before{
    width: 200px;
    height:200px;
    transition: all 2s ease;
    display:none;
}
#btn2:hover::after{
    transition: all 2s ease;
    display:none;
}